html{
    font-size: 10px;
}

body{
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --max-width: 70%;

    --white: white;
    --yellow-orange: #ffbb00;

    --gap-list-items: 2rem;
    --gap-list-items-content: 1rem;

    /* --font-size-social: 1.8rem; */
}